* {
  margin: 0;
  padding:0;
}

body {
  background: #fff;
  color: #000;
  font: 100%/1.5 arial, sans-serif;
}

#wrap {
  width: 600px;
  max-width: 80%;
  margin: 1em auto;
}

ul {
  margin: 1em 0 0 1em;
}

p {
  margin: 1em 0;
}

.contact {
  border: 1px solid;
  padding: 1em;
  margin: 1em 0;
}